<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waqas.landmarkremark">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".presentation.App"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LandmarkRemark">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDwXBxaCCsrD98pkkixfhwek9goF3IV9MI" />

        <activity android:name=".presentation.home.HomeActivity"
            android:theme="@style/Theme.LandmarkRemark.NoActionBar"/>
        <activity android:name=".presentation.usersetup.UserSetupActivity"
            android:theme="@style/Theme.LandmarkRemark.NoActionBar"/>
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:theme="@style/Theme.LandmarkRemark.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>